@page
@model AboutModel
@{
    ViewData["Title"] = "Über diese Webanwendung";
}
<h1>@ViewData["Title"]</h1>

<p><a href="https://www.IT-Visions.de" target="_blank">(C) Dr. Holger Schwichtenberg @DateTime.Now.Year</a></p>
<p>@((Html.Raw(new ITVisions.EnvInfo().GetHTMLString())))</p>